
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.btn-group {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;

    .btn {
        border: 0;
        padding: .5rem 1rem;
        border-radius: .5rem;
        cursor: pointer;
        background-color: pink;
    
        &:hover {
            background-color: #d9a4ad;
        }
    }
}

/****** Dark Mode ******/

body {
    transition: background-color .3s, color .3s;
}

body.dark-mode {
    background-color:black;
    color: white;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #0769e9;
} 
.logo {
    max-width: 5rem;
   
}

.nav {
    display: flex;
    justify-content: space-between;
    /*margin:0 auto;
   /* position: center;*/
   gap:1rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap:1rem;
}


.nav-link {
    color: white;
    text-decoration: none;
}



.nav-menu-item {
    font-size: 15px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    
}  

.nav-menu-link {
    padding: 6px 10px;
    border-radius: 3px;
}


.nav-menu-link:hover,
.nav-menu-link_active {
    background-color:#034574;
    transition: 0.5s;
} 


.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: end;
    }

    .nav-menu-link nav-link {
        color: #ecececec;
    }
} 




